/* stylalize the form between a scroll friendly mobile first version, and a sectioned desktop version.*/
/* font size =  16px (Open Sans)*/
/* line height ( line-height = font-size * ratio). */

html {
    font-family: 'Open Sans', sans-serif;
    background-color: azure;
    font size: 1em; /* (1em = 16px) */
    line-height: 1.618em ; /* (1.618em == 25.888px = 16px * 1.618em)*/
}

label {
    display: block;
    background-color: white;
    text-align: center;
}

/* 480px Break Point 1: Extra Small Devices, Phones */
@media screen and (min-width: 480px) {
    body {
        /* font size is default */
        /* line-height is default */
    }
    label {
        display: inline-block;
        color: white;
        background-color: skyblue;
    }

    div {
        display: inline;
    }
}

/* 768px Break Point 2: Small Devices, Tablets */
@media screen and (min-width: 768px) {
    body {
        font size: 1.618em; /* (1em = 16px) */
        line-height: 2.618em ; /* (2.618em == 41.887px = 25.888px * 1.618em)*/
    }
    label {
        display: inline-block;
        color: white;
        background-color: skyblue;
    }

    div {
        display: inline;
    }
}

/* 992px Break Point 3: Medium Devices, Desktops */
@media screen and (min-width: 992px) {
    label {
        display: inline-block;
        color: white;
        background-color: skyblue;
        margin-right: 5px;
        font-size: 1.3em;
    }

    div {
        display: inline;

    }
}