/* stylalize the form between a scroll friendly mobile first version, and a sectioned desktop version.*/
/* font size =  16px (Open Sans) */
/* viewport = (viewport min width) */
/* padding = (ratio * font size) */
/* rounded maximum text area(container) = (viewport - padding) */
/* pixel = base * em */
/* em = target_px / base_px */
/* line height ( line-height = font-size * ratio). */
html {
    font-family: 'Open Sans', sans-serif;
    background-color: #757575;
}

#wrapper {
    background-color: #FBFBFF;
    padding-left: 10px;
    padding-right: 10px;
}

header {
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    background-color: #FBFBFF;
}

footer {
    text-align: center;
    background-color: #757575;
    padding-bottom: 10px;
}

body {
    font-size: 1em; 
    line-height: 1.2em;
}

section {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FBFBFF;
}

fieldset {
    border: 4px groove;
}

h1 {
    font-size: 1.728em; 
    line-height: 2.074em;
}

h2 {
    font-size: 1.44em; 
    line-height: 1.728em;
}

h3 { 
    font-size: 1.2em; 
    line-height: 1.44em;
}

p {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}


/* 480px Break Point 1: Extra Small Devices, Phones */
@media screen and (min-width: 480px) {
    body {
        font-size: 1.2em; 
        line-height: 1.44em; 
    }

    fieldset {
        border: 2px groove;
    }

    h1 {
        font-size: 2.074em;
        line-height: 2.488em;
    }

    h2 {
        font-size: 1.728em; 
        line-height: 2.074em;
    }

    h3 {
        font-size: 1.44em; 
        line-height: 1.728em;
    }

    p {
        padding-top: 0.12em;
        padding-bottom: 0.12em;
    }
}

/* 768px Break Point 2: Small Devices, Tablets */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.44em; 
        line-height: 1.728em;
    }

    fieldset {
        border: 2px groove;
    }

    h1 {
        font-size: 2.488em;
        line-height: 2.986em;
    }

    h2 {
        font-size: 2.074em;
        line-height: 2.488em;
    }

    h3 {
        font-size: 1.728em; 
        line-height: 2.074em;
    }

    p {
        padding-top: 0.144em;
        padding-bottom: 0.144em;
    }
}

/* 992px Break Point 3: Medium computers */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.728em; 
        line-height: 2.074em; 
    }

    fieldset {
        border: 2px groove;
    }

    h1 {
        font-size: 3.583em;
        line-height: 2.986em;
    }

    h2 {
        font-size: 2.488em;
        line-height: 2.986em;
    }

    h3 {
        font-size: 2.074em;
        line-height: 2.488em;
    }
    
    p {
        padding-top: 0.173em;
        padding-bottom: 0.173em;
    }
}
